Python/note*.py
Python/test.py
Python/test.ini
Java/bin/*
.DS_Store
tests/

# kotlin project ignore files
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
Kotlin/.idea/workspace.xml
Kotlin/.idea/tasks.xml
Kotlin/.idea/gradle.xml
Kotlin/.idea/assetWizardSettings.xml
Kotlin/.idea/dictionaries
Kotlin/.idea/libraries
Kotlin/.idea/caches